
		<div class="col-sm-12 col-md-12 col-lg-4"><div class="list-group">
			<div class="list-group-item list-group-item-action sidemenu">
			</div>
			<div class="list-group-item list-group-item-action ">
				<img src="{{ url_for('static', filename='profile_pics/'+ current_user.profile_image) }}" width='30%' height='30%' class='img-fluid img-thumbnail mx-auto d-block' alt=''><h5 class="text-center">{{ current_user.username }}</h5>
			</div>
			<a type="button" class="list-group-item list-group-item-action {% if sidebar_name == 'merchant_dashboard' %} sidemenu {% endif %}" href="{{ url_for('merchant.merchant_dashboard') }}">
				<b><i class="fas fa-tachometer-alt"></i> Dashboard</a></b>
				<a type="button" class="list-group-item list-group-item-action {% if sidebar_name == 'all_parcels' %} sidemenu {% endif %}" href="{{ url_for('merchant.all_parcels') }}">
					<b><i class="fas fa-clipboard-list"></i> All Parcel List</a></b>
				</a>
				<a type="button" class="list-group-item list-group-item-action {% if sidebar_name == 'parcel_request' %} sidemenu {% endif %}" href="{{ url_for('merchant.parcel_request') }}">
					<b><i class="fas fa-folder-plus"></i> Add Pickup Request</a></b>
				</a>
				<a type="button" class="list-group-item list-group-item-action {% if sidebar_name == 'parcel_track' %} sidemenu {% endif %}" href="{{ url_for('merchant.parcel_track') }}">
					<b><i class="fas fa-location-arrow"></i> Parcel Tracking</a></b>
				</a>
				<a type="button" class="list-group-item list-group-item-action {% if sidebar_name == 'merchnat_payments' %} sidemenu {% endif %}" href="{{ url_for('merchant.merchant_payments') }}">
					<b><i class="fas fa-money-check-alt"></i> Payments</a></b>
				</a>
				<a type="button" class="list-group-item list-group-item-action {% if sidebar_name == 'merchant_settings' %} sidemenu {% endif %}" href="{{ url_for('merchant.merchant_settings') }}">
					<b><i class="fas fa-user-cog"></i> Settings</a></b>
				</a>
			</div></div>