{% if 'logged_in_user' in session %}

<div class="col-sm-12 col-md-12 col-lg-4">
	<div class="list-group">
		<div class="list-group-item list-group-item-action sidemenu">
		</div>
		<div class="list-group-item list-group-item-action ">
			<img src="{{ url_for('static', filename='profile_pics/'+ current_user.profile_image) }}" width='30%'
				height='30%' class='img-fluid img-thumbnail mx-auto d-block' alt=''>
			<h5 class="text-center">{{ current_user.username }}</h5>
		</div>
		<a type="button"
			class="list-group-item list-group-item-action {% if sidebar_name == 'merchant_dashboard' %} sidemenu {% endif %}"
			href="{{ url_for('merchant.merchant_dashboard') }}">
			<b><i class="fas fa-tachometer-alt"></i> Dashboard</a></b>
		<a type="button"
			class="list-group-item list-group-item-action {% if sidebar_name == 'all_parcels' %} sidemenu {% endif %}"
			href="{{ url_for('merchant.all_parcels') }}">
			<b><i class="fas fa-clipboard-list"></i> All Parcel List</a></b>
		</a>
		<a type="button"
			class="list-group-item list-group-item-action {% if sidebar_name == 'parcel_request' %} sidemenu {% endif %}"
			href="{{ url_for('merchant.parcel_request') }}">
			<b><i class="fas fa-folder-plus"></i> Add Pickup Request</a></b>
		</a>
		<a type="button"
			class="list-group-item list-group-item-action {% if sidebar_name == 'parcel_track' %} sidemenu {% endif %}"
			href="{{ url_for('merchant.parcel_track') }}">
			<b><i class="fas fa-location-arrow"></i> Parcel Tracking</a></b>
		</a>
		<a type="button"
			class="list-group-item list-group-item-action {% if sidebar_name == 'merchnat_payments' %} sidemenu {% endif %}"
			href="{{ url_for('merchant.merchant_payments') }}">
			<b><i class="fas fa-money-check-alt"></i> Payments</a></b>
		</a>
		<a type="button"
			class="list-group-item list-group-item-action {% if sidebar_name == 'merchant_settings' %} sidemenu {% endif %}"
			href="{{ url_for('merchant.merchant_settings') }}">
			<b><i class="fas fa-user-cog"></i> Settings</a></b>
		</a>
	</div>
</div>
{% elif 'logged_in_admin' in session %}

<div class="col-sm-12 col-md-12 col-lg-4">
	<div class="list-group">
		<div class="list-group-item list-group-item-action sidemenu">
		</div>
		<div class="list-group-item list-group-item-action ">
			<img src='' width='30%' height='30%' class='img-fluid img-thumbnail mx-auto d-block' alt=''>
			<h5 class="text-center">
				
			</h5>
		</div>
		<a type="button"
			class="list-group-item list-group-item-action" href="{{url_for('admin.admin_dashboard')}}">
			<b><i class="fas fa-tachometer-alt"></i> Dashboard</a></b>
		</a>
		<div class="dropdown dropright">
			<a class="list-group-item list-group-item-action dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false" ><b><i class="fas fa-box"></i> Parcels</b>
			</a>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="{{url_for('admin.pending_parcels')}}">Pending</a>
				<a class="dropdown-item" href="{{url_for('admin.pickedup_parcels')}}">Picked up</a>
				<a class="dropdown-item" href="{{url_for('admin.transit_parcels')}}">In transit</a>
				<a class="dropdown-item" href="{{url_for('admin.delivered_parcels')}}">Delivered</a>
				<a class="dropdown-item" href="{{url_for('admin.return_parcels')}}">Return to Hub</a>
			</div>
		</div>
		<div class="dropdown dropright">
			<a class="list-group-item list-group-item-action dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false" ><b><i class="fas fa-users"></i> Users</a></b>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="{{url_for('admin.merchant_details')}}">Merchant</a>
				<a class="dropdown-item" href="employee_details.php">Delivery Man</a>
			</div>
		</div>
		<a type="button" class="list-group-item list-group-item-action" href="parcel_track.php">
			<b><i class="fas fa-location-arrow"></i> Parcel Tracking</a></b>
		</a>
		<a type="button" class="list-group-item list-group-item-action" href="admin_payments.php">
			<b><i class="fas fa-money-check-alt"></i> Payments</a></b>
		</a>
		<div class="dropdown dropright">
			<a class="list-group-item list-group-item-action dropdown-toggle" type="button" id="dropdownMenuButton"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b><i class="fas fa-table"></i>
					Reports</b>
			</a>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="bdw_reports.php">Between Dates</a>
				<a class="dropdown-item" href="reqcounts_reports.php">Request Counts</a>
				<a class="dropdown-item" href="sales_reports.php">Demanding Charges</a>
			</div>
		</div>
		<a type="button" class="list-group-item list-group-item-action" href="admin_settings.php">
			<b><i class="fas fa-user-cog"></i> Settings</a></b>
		</a>
	</div>
</div>
{% endif %}